{% extends "admin/board/common/base.html" %}

{% block title %}添加账号{% endblock %}

{% block content %}
<div class="content">
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">添加账号</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="{{ url_for('admin.index') }}">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('admin.user.index') }}">账号管理</a>
                </li>
            </ul>
        </div>
        
        <div class="row">
            <div class="col-md-12">
            
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            添加账号
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="username">名称</label>
                            <input type="text" 
                                class="form-control" 
                                id="username" 
                                placeholder="账号的名称">
                            <small id="usernameHelp" class="form-text text-muted">
                                设置账号的名称，用来登录。使用大小写字母、数字、下划线及其组合
                            </small>
                        </div>
                        
                        <div class="form-group">
                            <label for="nickname">昵称</label>
                            <input type="text" 
                                class="form-control" 
                                id="nickname" 
                                placeholder="账号的昵称">
                            <small id="nicknameHelp" class="form-text text-muted">
                                设置账号的昵称
                            </small>
                        </div>
                    </div>
                    
                    <div class="card-action">
                        <button class="btn btn-success js-save-button">确认添加</button>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script_append %}
<script>
$(function() {
    $(".nav-item.board-user").addClass("active");
    
    // 保存
    $(".js-save-button").click(function(e) {
        e.stopPropagation;
        e.preventDefault;

        var username = $("#username").val();
        var nickname = $("#nickname").val();

        var url = "{{ url_for('admin.user.add-save') }}";
        $.post(url, {
            username: username,
            nickname: nickname,
        }, function(data) {
            if (data.code == 0) {
                layer.msg("添加成功");
                
                setTimeout(function() {
                    window.location.reload();
                }, 1500);
            } else {
                layer.msg(data.msg);
            }
        }).fail(function (xhr, status, info) {
            layer.msg("请求失败");
        });
    });

});
</script>
{% endblock %}