{% extends "board/timi/common/base.html" %}

{% block title %}更新信息{% endblock %}

{% block content %}
    <div class="profile-box">
        更新信息

        <hr />

        <form method="post">
            账号:<br>
            <input type="text" 
                name="username"
                autocomplete="false"
                value="{{ data.username }}"
                id="username">
            <br>
            
            账号昵称:<br>
            <input type="text" 
                name="nickname"
                value="{{ data.nickname }}"
                id="nickname">
            <br>
            
            个性签名:<br>
            <textarea class="form-control" 
                name="sign"
                placeholder="自定义签名" 
                id="sign" 
                style="height: 150px;">{{ data.sign }}</textarea>
            <br>
            
            <button type="button" class="layui-btn js-save-button">保存</button>
        </form> 

    </div>
{% endblock %}

{% block script %}
    <script src='{{ assets("js/jquery-3.4.1.min.js") }}' type="text/javascript"></script>
    <script src='{{ assets("js/layer/layer.js") }}' type="text/javascript"></script>
    <script type="text/javascript">
    (function($) {
        "use strict";
        
        // 登录
        $(".js-save-button").click(function(e) {
            e.stopPropagation;
            e.preventDefault;

            var username = $("#username").val();
            var nickname = $("#nickname").val();
            var sign = $("#sign").val();

            var url = "{{ url_for('board.profile-save') }}";
            $.post(url, {
                username: username,
                nickname: nickname,
                sign: sign,
            }, function(data) {
                if (data.code == 0) {
                    layer.msg("更新信息成功");
                    
                    setTimeout(function() {
                        window.location.href = "{{ url_for('board.profile') }}";
                    }, 1500);
                } else {
                    layer.msg(data.msg);
                }
            }).fail(function (xhr, status, info) {
                layer.msg("请求失败");
            });
        });
    })(jQuery);
    </script>
{% endblock %}

