<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <title>{% block title %}{% endblock %} - Board</title>
    {% block head %}{% endblock %}
</head>

{% block body %}
<body>
    <div class="box">
        <div id="header">
            {% block header %}
                {% include 'board/timi/common/header.html' %}
            {% endblock %}
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                {% include 'board/timi/common/footer.html' %}
            {% endblock %}
        </div>

    </div>
    
    {% block script %}{% endblock %}

</body>
{% endblock %}

</html>

