<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>系统提示</title>
    {% include 'admin/board/common/head.html' %}
    <style>
    
    </style>
</head>

<body>
    <div class="container">
    
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="card mt-5">
                    <div class="card-header text-center">
                        <div class="card-title">系统提示</div>
                    </div>
                    <div class="card-body text-center">
                        <div class="err-msg h3">
                            {{ msg }}
                        </div>
                        
                        {% if url != "" %}
                            <p class="mt-2 jump">
                                页面将在 <b id="wait">{{ wait }}</b> 秒后自动跳转
                            </p>
                        {% endif %}
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-primary btn-sm" href='/'>返回首页</a>

                        {% if url != "" %}
                            <a class="btn btn-success btn-sm ml-3" id="href" href="{{ url|raw }}">立即跳转</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
            
        {% if url != "" %}
            <script type="text/javascript">
            ;(function(){
                var wait = document.getElementById('wait'),
                    href = document.getElementById('href').href;

                var interval = setInterval(function(){
                    var time = --wait.innerHTML;
                    if(time <= 0) {
                        location.href = href;
                        clearInterval(interval);
                    };
                }, 1000);
            })();
            </script>
        {% endif %}

    </div>
</body>
</html>
